# 依赖
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# 构建产物
.next/
out/
build
dist

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 本地环境变量
.env
.env*.local

# 编辑器
.idea
.vscode
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts
